*{
    box-sizing: border-box;
}
.Toolbar {
    min-width: 100%;
    right: 0;
    justify-content: center;
    flex-wrap: nowrap;
    /* right:3rem; */
    top: 1.5rem;

    position: absolute;
    height:80px;
    z-index: 10;
    display: flex;
    align-items: center;



}

.Logo {
    display: none;
}

@media (min-width: 640px) {
    /* .DesktopOnly {
        display: none;
    } */

    .Logo {
        display: block;
        transform: rotateZ(-90deg);
        height: 100%;
        /* transform: rotateZ(0deg);
        justify-self: flex-start; */
    }

    .Toolbar {
        min-width: 0;
        top: 42px;
        /* right: -290px; */
        right: -370px;
        transform: rotateZ(90deg);
        transform-origin: left top;
    }
} 
